.tweet-header {
	font-size      : 85%;
	margin-bottom  : 5px;
	padding-bottom : 5px;
	border-bottom  : 1px solid $colorLines;

	&-meta {
		display         : flex;
		justify-content : space-between;

		.tweet-user {
			text-decoration : none;

			img {
				border-radius : 50%;
				float         : left;
				margin-right  : .3em;
				translate     : 0 .1em;
				width         : 1.3em;
			}

			&-name {
				color       : black;
				font-weight : bold;
			}
			&-screen-name {
				color : $colorMeta;
			}

			&:hover .tweet-user-name {
				text-decoration : underline;
			}
		}

		.tweet-date {
			color           : $colorMeta;
			text-decoration : none;

			&:hover {
				text-decoration : underline;
			}
		}
	}

	&-retweeter {
		font-size     : 85%;
		margin-bottom : 5px;

		svg {
			fill      : $colorMeta;
			width     : 1em;
			height    : 1em;
			translate : 0 .2em;
		}

		a {
			text-decoration : none;
			color           : $colorMeta;

			&:hover {
				text-decoration : underline;
			}
		}
	}

}